<ion-header>
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

    <h1>Inicio</h1>   

    <ion-button href="#" fill="clear" size="small">
      <ion-icon slot="start" name="videocam"></ion-icon>
      &nbsp;Acceso a videoclub
    </ion-button>

    <ion-button href="#" fill="clear" size="small">
      <ion-icon slot="start" name="person"></ion-icon>
      &nbsp;Consultar información
    </ion-button>

    <ion-button href="#" fill="clear" size="small">
      <ion-icon slot="start" name="book"></ion-icon>
      &nbsp;Currículum vitae
    </ion-button>

    <ion-button href="#" fill="clear" size="small">
      <ion-icon slot="start" name="mail"></ion-icon>
      &nbsp;Correo: email@email.com
    </ion-button>

    <ion-button href="#" fill="clear" size="small">
      <ion-icon slot="start" name="logo-twitter"></ion-icon>
      &nbsp;Twitter: @twitter
    </ion-button>

    <ion-button href="#" fill="clear" size="small">
      <ion-icon slot="start" name="call"></ion-icon>
      &nbsp;Teléfono: 999888777
    </ion-button>

</ion-content>
